@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    background-color: #116655;
    color: #EEEEFF;
}

body {
    margin: 5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
